.button,.music-service__link {
  opacity: 1;
  transition: opacity .2s
}

.episode-card__info__link:hover,.episode-line .episode-line__more:hover,.episode-line .episode-line__title:hover {
  text-decoration: underline;
  cursor: pointer
}

.button__link,.host__card-role,.navbar__option {
  text-transform: uppercase
}

:root {
  --color-white-opaque: #fffc;
  --color-white-azure: #f6fafc;
  --color-dark-green: #1c5f68;
  --color-green: #6ed0aa;
  --color-light-green: #d8fae4;
  --color-beige: #cbbca3;
  --color-light-beige: #eae3d6;
  --color-dark-gray: #41474d;
  --color-gray: #c8cdd1;
  --color-light-gray: #eef1f4;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-box-shadow: #dbd6d6;
  --color-gray-opacity: #41474da3;
  --color-gradient-primary: linear-gradient( 46.24deg, #000000 0%, #1c5f68 83.85% );
  --color-gradient-secondary: linear-gradient( 45deg, #98e8cb 10.87%, #efdbb8 71.6% );
  --text-primary: var(--color-white);
  --text-secondary: var(--color-black);
  --text-tertiary: var(--color-dark-green);
  --background-primary: var(--color-white-azure);
  --background-secondary: var(--color-white);
  --button-primary: var(--color-gradient-primary)
}

html {
  scroll-behavior: smooth
}

body,input {
  font-family: Archivo,sans-serif
}

.header {
  position: absolute;
  height: 100px;
  padding: 0 32px
}

.header__logo {
  width: 165px;
  margin: 25px
}

.navbar {
  overflow: hidden;
  background: var(--color-black);
  display: flex;
  justify-content: flex-end;
  min-height: 100px;
  align-items: center;
  padding-right: 32px
}

.navbar--responsive {
  position: relative;
  flex-direction: column;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-dark-green)
}

.navbar--responsive .navbar__option {
  display: flex;
  width: 100%;
  text-align: center;
  order: 2;
  justify-content: center
}

.navbar--responsive .navbar__option--icon {
  order: 1
}

.navbar__option {
  display: block;
  float: left;
  color: var(--text-primary);
  text-decoration: none;
  padding: 16px;
  transition: color .2s
}

.navbar__option:hover {
  color: var(--text-tertiary);
  cursor: pointer
}

.navbar__option--cta {
  color: var(--color-green)
}

.navbar__option--icon {
  display: none;
  float: right;
  font-size: 27px
}

.main-container {
  background-color: var(--background-primary)
}

.introduction {
  background-color: var(--color-black);
  color: var(--text-primary);
  display: flex;
  padding: 0 15% 100px;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  max-height: 800px
}

.introduction__section {
  padding: 16px 160px 16px 0
}

.donate__title,.introduction__section__title {
  font-size: 60px;
  font-weight: 600
}

.introduction__section__subtitle {
  font-size: 17px;
  margin-top: 30px
}

.music-service {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 16px 16px 0 0
}

.music-service__link {
  margin-right: 30px
}

.music-service__link:hover {
  opacity: .5;
  cursor: pointer
}

.welcome {
  display: flex;
  padding: 48px 15%;
  overflow: hidden
}

.welcome__section__image {
  padding: 0 32px 0 0;
  align-self: center
}

.welcome__section__image img {
  width: 521px;
  height: 509px
}

.welcome__section__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 0 32px
}

.welcome__eyebrow {
  font-weight: 500
}

.welcome__title {
  font-size: 30px;
  font-weight: 600
}

.welcome__subtitle {
  font-size: 20px;
  margin: 30px 0
}

.welcome__paragraph {
  font-size: 18px;
  line-height: 28px
}

.welcome__paragraph__letter {
  font-size: 50px;
  margin-right: 10px;
  float: left;
  line-height: .8
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 30px 0 0;
  background-color: transparent;
  background-image: var(--button-primary);
  border-radius: 25px
}

.button__link {
  display: flex;
  text-decoration: none;
  color: var(--text-primary);
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-shadow: 0 0 0 rgb(0 0 0 / 30%);
  padding: 15px 30px
}

.button:hover {
  cursor: pointer;
  opacity: .9
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px
}

.section-subtitle {
  font-size: 20px
}

.latest {
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary)
}

.latest__section {
  padding: 48px 15%
}

.latest__episodes {
  display: flex;
  align-items: center;
  justify-content: center
}

.episode-card,.episode-line {
  flex-direction: row;
  box-shadow: 0 0 16px var(--color-box-shadow);
  display: flex
}

.episode-card {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--background-secondary);
  margin: 0 15px;
  max-width: 720px
}

.episode-card__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  height: 250px;
  border-radius: 10px;
  background-size: cover;
  transition: opacity .2s;
  text-decoration: none
}

.link,.social {
  transition: color .2s
}

.episode-card__display:hover {
  opacity: .7
}

/*.episode-card__display--01 {
  background-image: url(../assets/episode-01.webp)
}

.episode-card__display--02 {
  background-image: url(../assets/episode-02.webp)
}

.episode-card__display--03 {
  background-image: url(../assets/episode-03.webp)
}

.episode-card__display--04 {
  background-image: url(../assets/episode-04.webp)
}

.episode-card__display--05 {
  background-image: url(../assets/episode-05.webp)
}

.episode-card__display--06 {
  background-image: url(../assets/episode-06.webp)
}

.episode-card__display--07 {
  background-image: url(../assets/episode-07.webp)
}

.episode-card__display--08 {
  background-image: url(../assets/episode-08.webp)
}

.episode-card__display--09 {
  background-image: url(../assets/episode-09.webp)
}

.episode-card__display--10 {
  background-image: url(../assets/episode-10.webp)
}

.episode-card__display--11 {
  background-image: url(../assets/episode-11.webp)
}

.episode-card__display--12 {
  background-image: url(../assets/episode-12.webp)
}*/

.episode-card__display__date {
  background: var(--color-gray-opacity);
  border-radius: 10px;
  color: var(--text-primary);
  font-size: 11px;
  font-weight: 300;
  padding: 8px
}

.episode-card__info {
  padding: 0 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.episode-card__info p {
  line-height: 22px;
  margin-bottom: 10px
}

.episode-card__info__genre {
  color: var(--text-tertiary);
  white-space: nowrap
}

.episode-card__info__link,.episode-line .episode-line__more a,.episode-line .episode-line__title a {
  color: var(--text-secondary);
  text-decoration: none
}

.episode-card__info__title {
  font-size: 24px
}

.episode-card__info__description {
  font-size: 18px
}

.episode-card__info__link {
  font-size: 11px
}

/*.donate {
  margin: 75px 0;
  padding: 80px 0;
  background-image: url(../assets/donate.webp);
  background-size: cover;
  background-position-x: center
}*/

.donate__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--text-primary);
  padding: 5% 15%
}

.donate__subtitle {
  font-size: 18px;
  line-height: 27px;
  margin-top: 30px;
  max-width: 600px
}

.all-episodes {
  padding: 0 20% 20px;
  background-color: var(--background-primary)
}

.episode-line {
  justify-content: space-between;
  align-items: center;
  padding: 22px;
  margin: 40px 0;
  border-radius: 10px;
  background-color: var(--background-secondary);
  font-size: 14px
}

.episode-line--disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: #000
}

.episode-line .episode-line__title {
  font-size: 18px;
  line-height: 22px;
  max-width: 500px
}

.episode-line .episode-line__date {
  margin: 0 0 0 10px
}

.episode-line .episode-line__genre {
  margin: 0 10px;
  color: var(--text-tertiary);
  white-space: nowrap
}

.episode-line .episode-line__more a {
  margin: 0 10px;
  white-space: nowrap
}

.hosts {
  padding: 80px 15% 0;
  margin: 0 0 50px
}

.hosts__section {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start
}

.hosts__section__card {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-basis: 31%;
}

.host__card-image {
  width: 175px;
  height: 175px;
  border-radius: 50%
}

.host__card-name {
  margin: 30px 5px 0;
  font-size: 24px
}

.host__card-role {
  margin: 5px;
  font-size: 11px;
  color: var(--text-tertiary);
  max-width: 180px
}

.host__card-description {
  margin: 15px 5px;
  font-size: 14px;
  text-align: center;
  min-height: 50px
}

.host__card-social {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row
}

.social {
  color: var(--color-gray);
  font-size: 25px
}

.social:hover {
  color: var(--color-dark-green);
  cursor: pointer
}

.footer {
  background: var(--color-gradient-primary);
  color: var(--text-primary);
  padding: 80px 15% 0;
  text-align: center;
  margin-top: 25px
}

#mc_embed_signup_scroll,.newsletter__subscribe {
  display: flex
}

.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center
}

.newsletter__paragraph {
  display: flex;
  flex-direction: column;
  text-align: start
}

.newsletter__title {
  font-size: 30px;
  font-weight: 500
}

.newsletter__subtitle {
  font-size: 18px;
  margin-top: 10px;
  color: var(--color-light-gray);
  padding-right: 50px
}

.newsletter__subscribe__input {
  border: 1px solid;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 300px;
  padding: 16px
}

.newsletter__subscribe__button {
  background-color: var(--color-black);
  color: var(--text-primary);
  text-transform: uppercase;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 49px;
  padding: 0 20px
}

.link {
  color: var(--color-green)
}

.link:hover {
  color: var(--color-light-green)
}

.link i.fa {
  margin-right: 10px
}

.solid {
  border-top: 0 solid var(--color-dark-green);
  opacity: .2;
  margin: 80px auto;
  max-width: 100%
}

.information {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  text-align: start;
  line-height: 25px
}

.information__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px
}

.information__section__content {
  width: 250px;
  margin-top: 10px
}

.information__section__logo {
  width: 165px
}

.information__section__title {
  font-weight: 600;
  margin-bottom: 15px
}

.information__section__option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  color: var(--text-primary);
  text-decoration: none;
  transition: color .2s
}

.information__section__option:hover {
  color: var(--text-tertiary);
  cursor: pointer
}

.information__section__link {
  display: flex;
  flex-direction: column
}

.information__section__link .link {
  margin-bottom: 5px
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 16px 15% 32px
}

@media (max-width: 1512px) {
  .hosts__section__card {
      margin:0 5px
  }

  .latest__episodes {
      flex-direction: column
  }

  .episode-card {
      margin: 15px
  }
}

@media (max-width: 1300px) {
  .welcome__section__image img {
      width:347px;
      height: 339px
  }

  .newsletter__title {
      font-size: 20px
  }

  .newsletter__subtitle {
      font-size: 13px
  }

  .copyright {
      padding: 16px 16px 32px
  }
}

@media (max-width: 1060px) {
  .introduction {
      height:500px
  }

  .introduction__section {
      padding-right: 130px
  }

  .introduction__section__title {
      font-size: 50px
  }

  .introduction__section__subtitle {
      font-size: 15px
  }

  .welcome__section__image {
      display: none
  }

  .welcome__section__text {
      align-items: center;
      padding: 32px 16px;
      gap: 10px
  }

  .hosts__section {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 50px
  }

  .newsletter {
      flex-direction: column;
      height: 130px;
      justify-content: space-between
  }

  .newsletter__paragraph {
      text-align: center
  }

  .newsletter__subtitle {
      padding: 0
  }

  .newsletter__subscribe__input {
      width: 270px
  }

  .copyright {
      padding: 16px
  }
}

@media (max-width: 900px) {
  .introduction__section {
      padding-right:0
  }

  .introduction__section__title {
      font-size: 45px
  }

  .information {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      text-align: center;
      line-height: 25px;
      flex-direction: column;
      align-items: center
  }

  .information__section {
      align-items: center
  }

  .information__section__grid {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 100px;
      line-height: 50px;
      justify-items: center
  }

  .episode-line {
      flex-direction: column;
      text-align: center
  }

  .episode-line .episode-line__date,.episode-line .episode-line__genre,.episode-line .episode-line__more,.episode-line .episode-line__title {
      display: flex;
      margin: 10px 0
  }

  .copyright {
      flex-direction: column;
      line-height: 40px
  }
}

@media (max-width: 720px) {
  .navbar__option {
      display:none
  }

  .navbar__option--icon {
      display: block
  }

  .introduction__section {
      padding-right: 75px
  }

  .introduction__section__title {
      font-size: 35px
  }

  .episode-card__info__title {
      font-size: 18px
  }

  .episode-card__info__description {
      font-size: 14px
  }
}

@media (max-width: 550px) {
  .introduction {
      padding:0 10%
  }

  .introduction__section {
      padding: 10px;
      text-align: center
  }

  .introduction__section__subtitle {
      margin: 30px 0 10px
  }

  .music-service {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 160px;
      justify-content: space-between;
      padding: 10px
  }

  .latest__section {
      padding: 0 25px 25px
  }

  .episode-card {
      flex-direction: column;
      align-items: center
  }

  .episode-card__display {
      height: 250px;
      width: 250px
  }

  .episode-card__info,.newsletter__subtitle {
      padding: 0
  }

  .episode-card__info__description,.episode-card__info__genre {
      display: none
  }

  .episode-card__info__link,.episode-card__info__title {
      text-align: center;
      margin: 15px 0 5px
  }

  .music-service__link {
      margin-right: 0
  }

  .donate {
      margin: 25px 0
  }

  .donate__description {
      padding: 5%
  }

  .donate__title {
      font-size: 45px
  }

  .donate__subtitle {
      font-size: 20px
  }

  .all-episodes {
      padding: 0 10% 20px
  }

  .hosts__section {
      grid-template-columns: none
  }

  .newsletter {
      height: 160px
  }

  .newsletter__subscribe__input {
      width: 200px
  }

  .newsletter__subscribe__button {
      padding: 0 10px;
      font-size: 10px
  }

  .copyright {
      font-size: 10px
  }
}

@media (max-width: 400px) {
  .welcome {
      padding:5%
  }
}
